{% extends "index.html" %}

{% block head %}
  <title>
    Contact — LSE Effective Altruism
  </title>
{% endblock %}

{% block body %}

<div style="margin-top:30px; text-align:center; margin-bottom:5px; font-size:180%; font-family:calibri light; font-weight:">
  You're welcome to contact us in any of the following ways:
</div>

<ul style="margin-top:45px; font-family:calibri light; font-size:130%">
  
  <li><pre style="margin-top:20px; font-family:calibri light; font-size:100%">Email the Society:                                        <a style="color:grey">EffectiveAltruism@LSESU.org</a></pre></li>

  <li style="margin-top:20px">Email the Committee</li>
    <ul style="margin-top:0px; font-family:calibri light; font-size:100%">
      <li><pre style="margin-top:10px; font-family:calibri light; font-size:100%">Eric Chen (President):                         <a style="color:grey">E.O.Chen@LSE.ac.uk</a></pre></li>
      <li><pre style="margin-top:0px; font-family:calibri light; font-size:100%">Sami Petersen (Vice President):        <a style="color:grey">S.C.Petersen1@LSE.ac.uk</a></pre></li>
      <li><pre style="margin-top:0px; font-family:calibri light; font-size:100%">Andrea D'Souza (Secretary):              <a style="color:grey">A.E.Dsouza@LSE.ac.uk</a></pre></li>
      <li><pre style="margin-top:0px; font-family:calibri light; font-size:100%">Neil Crawford (Treasurer):                 <a style="color:grey">N.Crawford@LSE.ac.uk</a></pre></li>
    </ul>

  <li><pre style="margin-top:20px; font-family:calibri light; font-size:100%">Message us on Facebook:                          <a style="color:grey" href="https://www.facebook.com/LSEEffectiveAltruism">https://www.facebook.com/LSEEffectiveAltruism</a></pre></li>
</ul>

{% endblock %}