{% extends "index.html" %}

{% block head %}
  <title>
    Get involved — LSE Effective Altruism
  </title>
{% endblock %}

{% block body %}

    <table style="margin-top:30px; table-layout:fixed; font-family:calibri light">
      <thead>
        <tr>
          <th style="width: 25%"></th>
          <th style="width: 75%"></th>
        </tr>
      </thead>
      <tbody>
        <tr>

          <td>
              <img width="200" src="https://scontent-cph2-1.xx.fbcdn.net/v/t1.15752-9/119100372_320428465961467_158395452832339018_n.jpg?_nc_cat=102&_nc_sid=b96e70&_nc_ohc=HtzFKhwrDqsAX-dhqna&_nc_ht=scontent-cph2-1.xx&oh=ebbef5a38ac5a90a0eff08df86f92b05&oe=5F7F87E0">
          </td>

          <td>
              <div style="margin-bottom:5px; font-weight; font-size:180%">One-on-One Chats</div>
              <div style="margin-top:10px; margin-bottom:5px; font-size:120%">Everyone is welcome to join a committee member in a causal chat over
              coffee or a breif walk through Lincoln's Inn Fields! We're happy to introduce interested students to how they can get involved with
              the community, discuss career goals, decide which global problems to work on, or anything else!</div>
              <div style="margin-top:10px; margin-bottom:5px; font-size:120%">Message us via our <a href="https://www.facebook.com/LSEEffectiveAltruism">Facebook page</a> or send us an email at <a style="font-style:italic">EffectiveAltruism@LSESU.org</a>.</div>
          </td>

        </tr>
      </tbody>
    </table>



    <table style="margin-top:30px; table-layout:fixed; font-family:calibri light">
      <thead>
        <tr>
          <th style="width: 25%"></th>
          <th style="width: 75%"></th>
        </tr>
      </thead>
      <tbody>
        <tr>

          <td>
              <img width="200" src="https://www.ukmsl.com/asset/Organisation/6049/lse%20su%20logo.png?thumbnail_width=300&thumbnail_height=300&resize_type=ResizeFitAllFill">
          </td>

          <td>
              <div style="margin-bottom:5px; font-weight; font-size:180%">Membership</div>
              <div style="margin-top:10px; margin-bottom:5px; font-size:120%">You're welcome to attend our any of our events, but we recommend
              getting <a href="https://www.lsesu.com/communities/societies/group/12682/">membership</a> from the Students' Union if you want to 
              get further involved with the community or just regularly attend our meetings, workshops, or Fellowships.</div>
          </td>

        </tr>
      </tbody>
    </table>


{% endblock %}