{% extends "layout.html" %}

{% block head %}
    <title>
      LSE Effective Altruism
    </title>
{% endblock %}

{% block body %}

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0" nonce="3KbjwzeO"></script>

    <div style="margin-top:70px">

    </div>

    <div class="row">

      <div class="column1">
        <div style="margin-right:8px; margin-top:40px">
        <div style="font-size:145%; font-family:calibri light">We're dedicated to helping LSE students answer one simple question:</div>

        <div style="font-size:145%; font-family:calibri light; font-style:italic; font-weight:bold; margin:25px"> How can we use our resources to do the most good?</div>

        <div style="font-size:145%; font-family:calibri light">Rather than just doing what feels right, Effective Altruism aims to use rigorous
        evidence and careful analysis to find the best ways to tackle the world's most pressing problems.</div>
        </div>
      </div>

      <div class="column2">
        <iframe width="446" height="315" src="https://www.youtube.com/embed/WyprXhvGVYk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

    </div>

    <div style="margin-bottom:70px">
    </div>


    <table style="table-layout:fixed">
      <thead>
        <tr>
          <th style="width: 30%"></th>
          <th style="width: 70%"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href="https://www.effectivealtruism.org/doing-good-better/">
              <img src="https://images-na.ssl-images-amazon.com/images/I/81mQU19Td5L.jpg" alt="Snow" style="width:85%; margin-top:20px; margin-right:20px">
            </a>
          </td>
          <td>
            <div style="text-align:center; margin-bottom:10px; font-family:calibri light; font-size:200%">What is <a style="font-weight:bold; font-family:calibri light">Effective Altruism</a>?</div>
            <div style="margin-top:15px; font-family:calibri light; font-size:130%">Most of us want to make a difference. We see suffering, injustice and death, and are moved to do something about them. But working out what that ‘something’ is, let alone actually doing it, can be a difficult and disheartening challenge.</div>
            <div style="margin-right:10px; margin-top:15px; font-family:calibri light; font-size:130%"><a href="https://www.effectivealtruism.org/">Effective Altruism</a> is a response to this challenge. It is a research field which uses high-quality evidence and careful reasoning to work out how to help others as much as possible. It is also a community of people taking these answers seriously, by focusing their efforts on the most promising solutions to the world's most pressing problems.</div>
            <div style="margin-right:10px; margin-top:15px; font-family:calibri light; font-size:130%">How, then, can we figure out which causes to focus on? Researchers have found the following framework useful. Working on a cause is likely to be highly impactful when it is:</div>
            <ul style="margin-top:15px; font-family:calibri light; font-size:130%">
              <li>Great in scale (it affects many lives, by a great amount)</li>
              <li>Highly neglected (few other people are working on addressing the problem)</li>
              <li>Highly solvable or tractable (additional resources will do a great deal to address it).</li>
            </ul>
            <div style="margin-right:10px; margin-top:15px; font-family:calibri light; font-size:130%">On this basis, <a href="https://80000hours.org/problem-profiles/#top">several cause areas</a> have emerged as especially likely to be highly impactful.</div>
          </td>
        </tr>
      </tbody>
    </table>

    <hr>


    <table style="table-layout:fixed">
      <thead>
        <tr>
          <th style="width: 55%"></th>
          <th style="width: 45%"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div style="margin-right:10px">
              <div style="text-align:center; margin-bottom:10px; margin-top:60px; font-family:calibri light; font-size:200%">Effective Altruism at <a style="font-weight:bold; font-family:calibri light">LSE</a></div>
              <div style="margin-top:15px; font-family:calibri light; font-size:130%">As a society, we run regular workshops on how to have a large impact during your career, as well as socials, high-profile speaker events, free books, discussion groups, research opportunities, and Fellowships.</div>
              <div style="margin-right:10px; margin-top:15px; margin-bottom:20px; font-family:calibri light; font-size:130%">We welcome anyone; whether you're a postgraduate doing research on global priorities, or someone completely new to the concept! Besides our socials, Fellowships, and events, we offer coffee chats or walks with a committee member to introduce interested students to how they can get involved with the wider community, discuss career goals, decide which global problems to work on, or anything else!</div>
            </div>
          </td>
          <td>
            <div style="margin-left:20px">
              <div style="margin-top:100px; margin-bottom:15px; font-family:calibri light; font-size:130%; font-weight:bold">Follow us on Facebook for all updates!</div>
              <div class="fb-page" data-href="https://www.facebook.com/LSEEffectiveAltruism" data-tabs="events" data-width="400" data-height="400" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/LSEEffectiveAltruism" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/LSEEffectiveAltruism">LSESU Effective Altruism</a></blockquote></div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <hr>

    <div style="display:absolute; text-align: center">
      <div style="padding: 5px; margin-right:0px; margin-top:10px">
        <img height="180" src="https://scontent-cph2-1.xx.fbcdn.net/v/t1.15752-9/119087000_336555564253398_4927634399730427287_n.png?_nc_cat=105&_nc_sid=b96e70&_nc_ohc=Ssw0-t1Y2ZwAX-0OLfL&_nc_ht=scontent-cph2-1.xx&oh=bd858e4198cc6e7ae95a9b4174618c64&oe=5F7D1BE0">
        <img height="180" src="https://scontent-cph2-1.xx.fbcdn.net/v/t1.15752-9/119116719_556849215026750_3570319741798735555_n.png?_nc_cat=109&_nc_sid=b96e70&_nc_ohc=aL3w6Fqo_JIAX_bjBWu&_nc_ht=scontent-cph2-1.xx&oh=1011a7bd802656ce22f0f7f74cac6dd3&oe=5F7E9C7A">
        <img height="180" src="https://scontent-cph2-1.xx.fbcdn.net/v/t1.15752-9/119103873_2737940056478180_3154446317771157465_n.png?_nc_cat=111&_nc_sid=b96e70&_nc_ohc=u9n9nOuSNocAX8_da-q&_nc_ht=scontent-cph2-1.xx&oh=6b1398787eb123a2b616ebc5bf45b4f8&oe=5F7E612D">
        <img height="180" src="https://scontent-cph2-1.xx.fbcdn.net/v/t1.15752-9/s2048x2048/119124567_319028242525584_3825522822210368913_n.png?_nc_cat=110&_nc_sid=b96e70&_nc_ohc=WZoNOkcO4IEAX813NbO&_nc_ht=scontent-cph2-1.xx&oh=d4145a074ae04b7f6eaa9717e5f253be&oe=5F7D5B30">
        <img height="180" src="https://scontent-cph2-1.xx.fbcdn.net/v/t1.15752-9/s2048x2048/119143590_256462738796618_7976692725281724729_n.png?_nc_cat=108&_nc_sid=b96e70&_nc_ohc=GvjfQ9-plHoAX_2MmoD&_nc_oc=AQl8vyRlk1IvllhciSSMgGn0gf1wYO2iZkxKxlLD9vs4-MbLxJqQm19qNBn0yr5zevU&_nc_ht=scontent-cph2-1.xx&oh=d0e2b64e0bad71dc297ec8933fb1af6e&oe=5F7F6EAF">
      </div>
    </div>

    <hr>

    <div style="margin-top:60px; margin-bottom:40px; text-align:center; font-family:calibri light">
      <button class="button button1" onclick="window.location.href='https://www.lsesu.com/communities/societies/group/12682/';"><a style="font-size:200%">Become a member!</a></button>
    </div>

    <hr style="margin-top:150px">

      <div style="margin-top:0px; margin-bottom:20px; margin-left:10px; font-family:calibri light; font-size:160%">Did you know that LSE itself has an institute dedicated to improving the effectiveness of philanthropy?</div>

    <hr>

    <div style="text-align:center">
    <div class="row">

      <div class="column">
        <embed src="https://www.lse.ac.uk/Marshall-Institute" style="width:550px; height: 410px; margin-left:0px">
      </div>

      <div class="column">
        <iframe width="540" height="281.25" src="https://www.youtube.com/embed/hLZVQLfiT8M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div style="margin-left:10px; margin-top:10px; text-align:left; font-family:calibri light; font-size:130%">Here's a recording of Prof. Will MacAskill speaking in the Old Theatre at LSE. He introduces the idea of Effective Altruism in Lecture 2 of the LSE Marshall Institute Lecture Series.</div>
      </div>
    </div>
    </div>
    <hr>


{% endblock %}