{% extends "index.html" %}

{% block head %}
  <title>
    Team — LSE Effective Altruism
  </title>
{% endblock %}


{% block body %}

<div style="margin:20px; text-align:center; font-family:calibri light; font-size:200%">Executive Committee 2020—2021</div>


<div style="margin-left:100px">

    <table style="table-layout:fixed; text-align:center; font-family:calibri light">
      <thead>
        <tr>
          <th style="width: 25%"></th>
          <th style="width: 25%"></th>
          <th style="width: 25%"></th>
          <th style="width: 25%"></th>
        </tr>
      </thead>
      <tbody>
        <tr>

          <td>
              <div style="margin-bottom:5px; font-size:140%">Eric Chen</div>
              <img width="200" src="https://scontent-cph2-1.xx.fbcdn.net/v/t1.15752-9/118604129_666892587259689_5110379599098632929_n.png?_nc_cat=105&_nc_sid=b96e70&_nc_ohc=_yvsZinMVAsAX8OSKC4&_nc_ht=scontent-cph2-1.xx&oh=78d74b29f792cce058b633b0d90a6d5d&oe=5F7FE388">
              <div style="margin-top:10px; margin-bottom:5px; font-size:120%">President</div>
              <div style="font-size:80%">BSc Philosophy and Economics</div>
          </td>

          <td>
              <div style="margin-bottom:5px; font-size:140%">Sami Petersen</div>
              <img width="200" src="https://scontent-cph2-1.xx.fbcdn.net/v/t1.15752-9/118604129_666892587259689_5110379599098632929_n.png?_nc_cat=105&_nc_sid=b96e70&_nc_ohc=_yvsZinMVAsAX8OSKC4&_nc_ht=scontent-cph2-1.xx&oh=78d74b29f792cce058b633b0d90a6d5d&oe=5F7FE388">
              <div style="margin-top:10px; margin-bottom:5px; font-size:120%">Vice President</div>
              <div style="font-size:80%">BSc Philosophy, Politics and Economics</div>
          </td>

          <td>
              <div style="margin-bottom:5px; font-size:140%">Andrea D'Souza</div>
              <img width="200" src="https://scontent-cph2-1.xx.fbcdn.net/v/t1.15752-9/118604129_666892587259689_5110379599098632929_n.png?_nc_cat=105&_nc_sid=b96e70&_nc_ohc=_yvsZinMVAsAX8OSKC4&_nc_ht=scontent-cph2-1.xx&oh=78d74b29f792cce058b633b0d90a6d5d&oe=5F7FE388">
              <div style="margin-top:10px; margin-bottom:5px; font-size:120%">Secretary</div>
              <div style="font-size:80%">BSc Philosophy, Politics and Economics</div>
          </td>

          <td>
              <div style="margin-bottom:5px; font-size:140%">Neil Crawford</div>
              <img width="200" src="https://scontent-cph2-1.xx.fbcdn.net/v/t1.15752-9/119204282_654703978499679_2830074520508048569_n.jpg?_nc_cat=110&_nc_sid=b96e70&_nc_ohc=geAuIW93T_0AX97bLz9&_nc_ht=scontent-cph2-1.xx&oh=f4a1186b8c0e73950567db08b1dbaffe&oe=5F80714D">
              <div style="margin-top:10px; margin-bottom:5px; font-size:120%">Treasurer</div>
              <div style="font-size:80%">BSc Philosophy, Logic and Scientific Method</div>
          </td>

        </tr>
      </tbody>
    </table>

    <hr>

</div>

{% endblock %}